@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}
:root {
  --color-base-100: #fefefe;
  --color-base-content: #161616;
  --color-neutral: #161616;
  --color-neutral-content: #fefefe;
  --fontsize: 1.25rem;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-base-100: #161616;
    --color-base-content: #fefefe;
    --color-neutral: #fefefe;
    --color-neutral-content: #161616;
  }
}

.min-h-screen {
  min-height: 85vh;
}
