@import url(chota.css);

:root {
  --bg-color: #fefefe;
  --bg-secondary-color: #161616;
  --font-color: #fefefe;
  --font-size: 2rem;
}
#buttons {
  margin-top: 5vh;
}
.button {
  width: 115px;
  background: var(--bg-secondary-color);
  color: var(--font-color);
  -webkit-transition: none;
  transition: none;
  margin: 10px;
  font-weight: bold;
  transform: none;
}
.button:hover {
  opacity: 1;
}
body.dark {
  --bg-color: #161616;
  --bg-secondary-color: #fefefe;
  --font-color: #161616;
}
#content {
  margin-top: 10vh;
}
